:root{--border: 2px gray solid;}
*{margin:0px;}
.card{
border: 2px gray solid;
width: 350px;

}
.image{
    width: 350px;
    
}
.card_text{
    border: 1px gray solid;
    padding: 10px;
}
